---
import Layout from '../layouts/Layout.astro';
import Header from '../components/AppHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import Footer from '../components/Footer.astro';
import TechStack from "../components/TechStack.astro";
import Skills from "../components/Skills.astro";
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';
import Contactme from "../components/ContactSection.astro";
---
<Layout title="Swastik Dan | Personal Portfolio "  description="Explore the portfolio site of Swastik Dan with a range of creative skills and experiences, including problem solving, research, and proficiency in Full Stack Web Development "  ogUrl="https://swastik.vercel.app/"  ogImage="https://ik.imagekit.io/swastikdan/tr:f-auto,q-50/Og_Image_Main.png"  keywords="Swastik Dan , personal portfolio of Swastik Dan , web developr , freelancing , swastik dan , cse student portfolio, wix student portfolio examples , student e portfolio example , personal portfolio of swastik dan, Problem Solving , Research , HTML , CSS , JavaScript , Java , C ,C++, Python, Java, HTML, CSS, JavaScript, Ruby on Rails, Django, Flask, AngularJS, React, MySQL, Oracle, MongoDB, custom web design services, mobile website design services, responsive web design services, website redesign services, graphic design, web design, website design, website builder, web development, ecommerce website design, web agency, software development company, web design tutorial, web programming, design company, website design templates, web development courses, web development tools, website design services, web design london, web design and development, web development services, homepage design, cheap website design, web design templates, web design jobs, web design india, website design cost, good website design, site design, simple website design, modern website design, best web design software, mobile website design, learn web development, front end web development, web developer portfolio, web development company in India, python web development, web development tutorial, website design and development, web company, webdesigning, professional website design, affordable web design, best web design company, creative web design " >
	<Header />
	<main>
		<HeroSection />
		<TechStack techstacks={["Node Js", "Next Js", "Express" ,"Mongo DB" , "Astro" , "JavaScript" ,"Tailwind" ,"React"]} />
		<Projects />
		<AboutMe />
		<Skills />
		<Contactme />
	</main>
	<Footer />
</Layout>
<style>
</style>