---
const logolink = "/logo.svg";
---

<a href="/" class="flex space-x-2 items-center">
    <img width="40" height="40" class="w-10" src={logolink} alt="Logo" />
    <h1 class="text-xl md:text-2xl font-black text-gray-900 dark:text-white">
      Swastik Dan
    </h1>
  </a>