---
import ContactForm from "./contact/ContactForm.astro";
import ContactFormAnimation from "./contact/ContactFormAnimation.astro";
---

<div class="mx-auto relative max-w-7xl px-6 md:px-12 xl:px-6 ">
  <ContactFormAnimation />
  <div class="pt-32 relative text-center reveal-element">
    <h2
      class="text-[2.5rem] leading-9 font-black text-blue-950 dark:text-white md:text-6xl lg:text-7xl"
    >
      Let's build a unique <span
        class="relative text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-violet-300"
        >Experience.</span
      >
    </h2>
    <p class="relative z-[11] mt-14 text-gray-600 dark:text-gray-300 gotham">
      Having a custom user interface is a crucial thing for your website or web
      application, Designing ans Createing one is not an easy task at all. Don't
      do it alone, Let me help you make a lasting impression!
    </p>
  </div>
  <section id="contact" class="relative">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <div class="pb-20 md:pb-20 reveal-element">
        <h2
          class="text-center text-2xl font-bold text-gray-800 dark:text-gray-100 -mb-10 lg:text-3xl"
        >
          Get in touch
        </h2>
      </div>
      <ContactForm />
    </div>
  </section>
</div>
