---
import links from "./Data/NavLinks";
import Sociallinks from "./Data/SocialLinks";
import CdnLink from "./Data/CdnLink";
---

<footer class="pt-20 relative">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="-mb-0.5 w-full"
    viewBox="0 0 1367.743 181.155"
  >
    <path
      class="fill-current text-gray-100 dark:text-gray-800"
      id="wave"
      data-name="wave"
      d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
      transform="translate(1.743 66.155)"></path>
  </svg>
  <div
    class="bg-gradient-to-b from-gray-100 to-gray-300 dark:from-gray-800 dark:to-gray-900 pt-1"
  >
    <div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
      <ul
        role="list"
        class="mt-12 flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 dark:text-gray-400 sm:gap-8"
      >
        {
          links.map((link) => (
            <li>
              <a
                href={link.to}
                class="text-base transition-all  lg:text-lg duration-300  hover:text-sky-500 dark:hover:text-white"
              >
                {" "}
                {link.label}{" "}
              </a>
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center items-center space-x-3">          
          {
            Sociallinks.map((Sociallink) => (
              <a
                href={Sociallink.to}
                rel="noreferrer"
                target="_blank"
                class="hs-tooltip-toggle inline-flex justify-center p-2  rounded-lg cursor-pointer  dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 ring-1"
              >
              <img width="150" height="150"   src={CdnLink + Sociallink.icon} class="w-5 h-5 text-gray-700" alt=""> </img>
                <span class="sr-only">{" "}{Sociallink.label}{" "}</span>
              </a>
            ))
          }
        
      </div>
    </div>
    <div class="mt-12 pb-10 text-center px-4">
      <span class="text-sm tracking-wide text-gray-500 pb-10"
        >Copyright © <span id="year"></span> Swastik Dan . All rights reserved
      </span>
    </div>
  </div>
</footer>

<script is:inline>
  const yearElement = document.getElementById("year");
  const currentYear = new Date().getFullYear();
  yearElement.innerText = currentYear;
  let mybutton = document.getElementById("btn-back-to-top");
  function topFunction() {
    window.scrollTo({
      top: 0,
    });
  }
</script>
