---

---
<section class="herosection relative max-w-7xl mx-auto  md:px-12 xl:px-6 -mt-20 md:-mt-0  " id="home">
  <div aria-hidden="true" class="fixed bg-fixed inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-orange-300/10 to-purple-400 "></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 "></div>
  </div>
  <div class="relative pt-36  ml-auto space-y-20 reveal-element ">
    <div class="relative container m-auto pt-5 md:pt-0 text-black reveal-element">
      <h2 class="text-center font-thin text-sky-900 text-xl dark:text-white  py-2 gotham  reveal-element"
        style="letter-spacing:-1.5px;">Hey, i'm Swastik 👋 ,‎ I am a</h2>
      <h3
        class="  md:hidden text-center text-3xl md:text-6xl  xl:text-8xl font-black uppercase pt-2 relative text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB]  reveal-element ">
        Web Developer &</h3>
      <h3
        class=" md:hidden text-center text-3xl md:text-6xl  xl:text-8xl font-black uppercase pb-2 relative text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB] reveal-element">
        UI/UX Enthusiast.</h3>
      <div class="hidden md:block" style=" filter: url(#threshold) blur(0px);">
        <h3 id="morph_text_1"
          class=" text-center text-4xl md:text-7xl  xl:text-9xl font-black uppercase pt-2 absolute w-full  inline-block text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB]  select-none ">
        </h3>
        <h3 id="morph_text_2"
          class=" text-center text-4xl md:text-7xl  xl:text-9xl font-black uppercase pt-2 absolute w-full  inline-block text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB]  select-none ">
        </h3>
      </div>
      <svg id="filters" class="hidden md:block">
        <defs>
          <filter id="threshold">
            <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 255 -140" />
          </filter>
        </defs>
      </svg>
      <h4
        class="text-center px-5 py-5 gotham dark:text-white text-sm md:text-base lg:text-lg reveal-elemen reveal-element">
        I'm Swastik and I'm a full stack developer and Computer Science Undergraduate. I have a passion for building
        user-friendly software.<span class="hidden md:block"> I'm also a freelancer and available to work, and I can
          help you build your next dream project.</span>
      </h4>
    </div>
  </div>
  <div class="relative mt-8  grid gap-3 w-full sm:inline-flex sm:justify-center px-16 reveal-element reveal-element ">
    <div class="w-full pl-2
    sm:w-max gap-4 flex min-w-max flex-col sm:flex-row">
      <a title="Download CV" target=" _blank" rel="noopener noreferrer"
        href="/cv/Swastik.pdf"
        class="flex relative  h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-sky-200 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-sky-500 sm:w-max">
        <span class="relative text-base font-semibold text-sky-800 dark:text-white inline-flex">Download CV <svg
            class="w-5 h-5 mx-2" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="arrow-down-to-line" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-down-to-line fa-fw fa-lg" width="384" height="512">
            <path fill="currentColor"
              d="M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32H352c17.7 0 32 14.3 32 32s-14.3 32-32 32H32zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V242.7l73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z"
              class=""></path>
          </svg></span>
      </a>
      <!-- <a title="Download CV" target=" _blank" rel="noopener noreferrer" href="download-cv"
        class=" hidden md:flex relative  h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-sky-200 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-sky-500 sm:w-max">
        <span class="relative text-base font-semibold text-sky-800 dark:text-white inline-flex">Download CV <svg
            class="w-5 h-5 mx-2" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false"
            data-prefix="fas" data-icon="arrow-down-to-line" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-down-to-line fa-fw fa-lg" width="384" height="512">
            <path fill="currentColor"
              d="M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32H352c17.7 0 32 14.3 32 32s-14.3 32-32 32H32zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V242.7l73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z"
              class=""></path>
          </svg></span>
      </a> -->
      <a target=" _blank" rel="noopener noreferrer" href="https://github.com/Swastikdan" title="Visit Github"
        class="w-full py-3 px-6 rounded-full text-center transition  hover:bg-gray-200 dark:hover:bg-gray-600/30  sm:w-max">
        <span class="block text-black dark:text-white  font-semibold">
          Visit Github

        </span>
      </a>

    </div>
  </div>
  </div>
</section>

<script is:inline>
  const elts = {
    morph_text_1: document.getElementById("morph_text_1"),
    morph_text_2: document.getElementById("morph_text_2")
  };
  const texts = [
    "WEB DEVELOPER",
    "UI/UX Enthusiast",

  ];

  const morphTime = 1;
  const cooldownTime = 1;

  let textIndex = texts.length - 1;
  let time = new Date();
  let morph = 0;
  let cooldown = cooldownTime;

  elts.morph_text_1.textContent = texts[textIndex % texts.length];
  elts.morph_text_2.textContent = texts[(textIndex + 1) % texts.length];

  function doMorph() {
    morph -= cooldown;
    cooldown = 0;

    let fraction = morph / morphTime;

    if (fraction > 1) {
      cooldown = cooldownTime;
      fraction = 1;
    }

    setMorph(fraction);
  }
  function setMorph(fraction) {
    elts.morph_text_2.style.filter = `blur(${Math.min(8 / fraction - 8, 10)}px)`;
    elts.morph_text_2.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;

    fraction = 1 - fraction;
    elts.morph_text_1.style.filter = `blur(${Math.min(8 / fraction - 8, 10)}px)`;
    elts.morph_text_1.style.opacity = `${Math.pow(fraction, 0.4) * 100}%`;

    elts.morph_text_1.textContent = texts[textIndex % texts.length];
    elts.morph_text_2.textContent = texts[(textIndex + 1) % texts.length];
  }
  function doCooldown() {
    morph = 0;

    elts.morph_text_2.style.filter = "";
    elts.morph_text_2.style.opacity = "100%";

    elts.morph_text_1.style.filter = "";
    elts.morph_text_1.style.opacity = "0%";
  }
  function animate() {
    requestAnimationFrame(animate);

    let newTime = new Date();
    let shouldIncrementIndex = cooldown > 0;
    let dt = (newTime - time) / 2000;
    time = newTime;

    cooldown -= dt;

    if (cooldown <= 0) {
      if (shouldIncrementIndex) {
        textIndex++;
      }

      doMorph();
    } else {
      doCooldown();
    }
  }
  animate();
</script>